body
{
    background-color: aquamarine;
}
div{
    height: 670px;
    width:400px;
    background-color: aliceblue;
    margin-top: 40px;
}
h1{
   font-size: 25px; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    height: -1px;
    width: 40px;
}
tr{
    height: 1px;
    width: 2px;
}
th{
    height: 1px;
    width: 2px;
}
